 <!-- Delete Consult Modal Structure -->
 <div id="modal3" class="modal">
    <div class="modal-content" id="deleteConsultContent">
      <h4>¡Atención! Operación irreversible.</h4>
      <p>Estas a punto de eliminar la consulta del paciente '<span id=paciente></span>', con fecha '<span id=fecha></span>' de forma permanente.<br> Estas seguro que quieres proseguir?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" onclick=" $('#modal3').modal('close');" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a href="#"  id="enlace_consulta" class="modal-action modal-close waves-effect waves-green btn-flat">Si, deseo eliminar</a>
    </div>
  </div>