{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="centered not-desplazable" style="position: fixed!important; width:  100%; height: 100%;">
        <div class="container" >
            <div class="box centered">
                <div class="container box-title">
                    <div class="col s10">
                        <h5><strong><small> INICIAR SESIÓN </small></strong></h5>
                    </div>
                    <div class="col s2">
                        <a class="btn-floating btn-large waves-effect waves-light red">
                            <i class="material-icons">highlight_off</i>
                        </a>
                    </div>
                </div>
                <div class="">

                    <form action="/index.php?controller=login&action=login" class="form-login" method="post" target="_self" accept-charset="UTF-8" autocomplete="on">
                        <div class="group">
                            <input type="text" placeholder="Usuario" class="input-google" title="Usuario" required name="user">
                            <span class="highlight" title="Nombre"></span>
                        </div>
                        <div class="group">
                            <input type="password" placeholder="Contraseña" class="input-google" title="Contraseña" required name="pass">
                            <span class="highlight" title="Contraseña"></span>
                        </div>
                        <br>
                        <input type="submit" class="button buttonBlue" title="Submit">
                        <a href="signup.php">Registrarme</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}