{% extends 'base.html.twig' %} 

{% block body %}
<section class="mantenimiento-container">
    <article class"mantenimiento-article">
        <h1 class="mantenimiento-h1">Volvemos pronto!</h1>
        <div class="mantenimiento-div">
            <p class="mantenimiento-p">Disculpe las molestias, el sitio esta en mantenimiento en este momento. Si lo necesita, puede contactarnos enviando
                un e-mail a {{ email }} o llamando al telefono +54-221-123-4567.</p>
            <p class="mantenimiento-p">&mdash; {{ titulo }}</p>
        </div>
    </article>
</section>
{% endblock %}