{% extends 'base.html.twig' %} {% block body %}
<section class="container">
    <div class="row">
        <div class="col s12 l6">
            <h3>Configuracion</h3>
        </div>
    </div>

    <div class="divider divider-margin"></div>

    <div class="row">
        {% for card in cards %}
        <div class="col s12 m4 card-container">
            <div class="card">
                <h4 class="card-header">
                    <small>{{ card.titulo }}</small>
                </h4>
                <div class="card-body">
                    <p class="card-text">{{ card.descripcion }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}