<!doctype html>
<head>

    <title>{{ "#{titulo} - Mantenimiento" }}</title>

    <link rel="stylesheet" href="{{ stylesheets }}"> 
</head

<article>
    <h1>Volvemos pronto!</h1>
    <div>
        <p>Disculpe las molestias, pero el sitio esta en mantenimiento en este momento. Si lo necesita, puede contactarnos enviando
            un e-mail a {{ email }} o llamando al telefono +54-221-123-4567.</p>
        <p>&mdash; {{ title }}</p>
    </div>
</article>