.mantenimiento-container{
    text-align: center;
    padding: 150px;
}

.mantenimiento-h1 {
    font-size: 50px;
}

.mantenimiento-container {
    font: 20px Helvetica, sans-serif;
    color: #333;
}

.mantenimiento-article {
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto;
}
.buttons-container {
    margin-top: 20px;
}