.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-text {
    margin-bottom: 0;
    margin-top: 0;
}
.row {
    display: flex;
}
.card-container {
    flex: 1;
}
div.divider-margin {
    margin-top: -15px;
    margin-bottom: 25px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    font-size: 20px;
}
thead {
    display: block;
    float: left;
    border: 0;
    border-right: 1px solid #d0d0d0;
}
tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}
tr {
    display: block;
    padding: 0 10px 0 0;
}
th {
    margin: 0;
    vertical-align: top;
    display: block;
    text-align: right;
}
td {
    margin: 0;
    vertical-align: top;
    display: block;
    min-height: 1.25em;
    text-align: left;
    padding-left: 30px;
}
.input-field {
    display: none;
    margin-top: 0px;
    font-size: 15px;
}
.updateButton {
    display: none;
}
.fixed-action-btn {
    right: 50px;
    bottom: 50px;
}
input {
    margin: 0px!important;
    height: 30px!important;
}
.container {
    margin-bottom: 75px;
}
.pCheck {
    margin-top: -10px;
}
.icon-cyan {
    color: #009688;
}
@media screen and (max-width: 600px) {
    .col.s12 {
        flex: none;
    }
    .row{
        display: block;
    }
}
.buttons-container {
    margin-top: 20px;
}