.cyan {
    color: #009688;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.loginContainer {
    border: 1px;
    border-radius: 2px;
    border-color: black;
}

.contenido-card {
    margin-top: 50px;
}

span.card-title {
    margin-bottom: 0px!important;
    margin-top: 0px;
    font-size: 30px!important;
}

.buttons {
    margin-top: 50px;
}
h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}