/*font*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-family: Helvetica;
    margin: 0px;
}



html {
    line-height: 1.15;
}

.box {
    background-color: #fff;
    min-height: 300px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    max-width: 400px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    margin-top: 5%;
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

.box-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-login {
    width: 78%;
    margin: 3em auto;
    padding: 2em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
    overflow: hidden;
}

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.15s ease;
    opacity: 0.95;
}

.button:focus {
    outline: 0;
}

.button:hover {
    opacity: 1;
}

.buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
    border-bottom: 2px solid #3160B6;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.containerInicio {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-bottom: 60px;
}

.one-third-container {
    margin-bottom: 1.5rem!important;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: inherit;
}

.card {
    height: 100%!important;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-text {
    margin-bottom: 0;
    margin-top: 0;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
    margin-top: 100px;
}

.btn-masinfo {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
}

@media screen and (min-width: 1062px) {
    .one-third-container {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .containerInicio {
        max-width: 1140px;
    }
}

.carousel-item >img{
    /*  max-height: 80%;*/
  }

.img-div-inicio {
    display: block;
    width: 98%;
    height: 350px;
    float: none;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

/* Footer */

footer {
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    box-sizing: border-box;
}

.footer-div{
    margin-top: 70px;        
}

footer p a {
    color:#0a93a6; 
    text-decoration:none;
}

footer p {
    box-sizing: border-box;
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

.image-container {
    overflow: hidden;
    border-radius: 0;
}

.banner {
    vertical-align: middle;
    /* remove the vertical gap under inline level elements */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.not-desplazable{
    position: fixed!important; width:  100%; height: 100%;
}