.container {
    margin-top: 25px;
}

div.float-right {
    float: right;
}

ul.dropdown-content {
    width: auto!important;
}

a.icon-cyan {
    color: #009688;
}

.div-search {
    width: 45%;
}

.div-title {
    width: 45%;
}