.container {
    margin-top: 25px;
    margin-bottom: 50px;
}

div.float-right {
    float: right;
}

.icon-cyan {
    color: #009688;
}

div.divider-margin {
    margin-top: -15px;
    margin-bottom: 25px;
}

.card-title {
    overflow: hidden;
}

.contenido-card {
    margin-top: 10px;
}
/*
.height-100 {
    height: 100%;
}*/

.fixed-action-btn {
    right: 5%;
    bottom: 5%;
}

.modal {
    max-height: 90%;
}

.modal-form-row {
    margin-bottom: 0px;
}

.modal-footer {
    text-align: left!important;
}

.modal-content {
    padding-bottom: 0px!important;
}

.dropdown-content {
    width: auto!important;
}

.margint-25 {
    margin-top: 25px;
}
.pagination-li.active {
    background-color: #009688!important;
}

.center-align {
    text-align: center;
}