.container {
    margin-top: 25px;
}

div.float-right {
    float: right;
}

a.icon-cyan {
    color: #009688;
}

div.divider-margin {
    margin-top: -15px;
    margin-bottom: 25px;
}

.card-title {
    overflow: hidden;
}

.card-content {
    margin-top: 10px;
}