.container{
    margin-top: 25px;
}
div.float-right{
    float: right;
}
ul.dropdown-content{
    width: auto!important;
}
a.icon-cyan{
    color: #009688;
}
.left-align{
    display: inline;
}
.search-form{
    display: inline;
}
.div-title{
    display: inline;
}
.div-search{
    display: inline;
}