{% extends 'base.html.twig' %}
{% block body %}
    <script type="text/javascript">
        var phpData = {{(data|json_encode|raw)}};

        var titles = [];
        titles['Vivi'] = 'Tipos de vivienda';
        titles['Cale'] = 'Tipos de calefacción';
        titles['Agua'] = 'Tipos de agua';
        titles['Hela'] = 'Tiene heladera?';
        titles['Elec'] = 'Tiene helectricidad?';
        titles['Masc'] = 'Tiene mascota?';

        var colors = [];
        colors[0] = '#F7464A';
        colors[1] = '#46BFBD';
        colors[2] = '#FDB45C';
        colors[3] = '#FDB45C';

        var data = [];
        data['Vivi'] = [];
        data['Cale'] = [];
        data['Agua'] = [];
        data['Hela'] = [];
        data['Elec'] = [];
        data['Masc'] = [];

        var labels = [];
        labels['Vivi'] = [];
        labels['Cale'] = [];
        labels['Agua'] = [];
        labels['Hela'] = [];
        labels['Elec'] = [];
        labels['Masc'] = [];

        for (var i = 0; i < phpData['Vivi'].length; i++) {
            labels['Vivi'][i] = phpData['Vivi'][i]['Nombre'];
            data['Vivi'][i] = phpData['Vivi'][i]['Cant'];
        }
        for (var i = 0; i < phpData['Cale'].length; i++) {
            labels['Cale'][i] = phpData['Cale'][i]['Nombre'];
            data['Cale'][i] = phpData['Cale'][i]['Cant'];
        }
        for (var i = 0; i < phpData['Agua'].length; i++) {
            labels['Agua'][i] = phpData['Agua'][i]['Nombre'];
            data['Agua'][i] = phpData['Agua'][i]['Cant'];
        }
        for (var i = 0; i < phpData['Hela'].length; i++) {
            labels['Hela'][i] = phpData['Hela'][i]['Nombre'];
            data['Hela'][i] = phpData['Hela'][i]['Cant'];
        }
        for (var i = 0; i < phpData['Elec'].length; i++) {
            labels['Elec'][i] = phpData['Elec'][i]['Nombre'];
            data['Elec'][i] = phpData['Elec'][i]['Cant'];
        }
        for (var i = 0; i < phpData['Masc'].length; i++) {
            labels['Masc'][i] = phpData['Masc'][i]['Nombre'];
            data['Masc'][i] = phpData['Masc'][i]['Cant'];
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="node_modules\chart.js\dist\Chart.min.js"></script>

    <section class="container">
        <div class="row" style="margin-bottom: 0px;">
            <div class="col s12 l6">
                <h3>Reportes</h3>
            </div>
        </div>
        <div class="divider" style="margin-bottom: 25px;"></div>
        <div class="card">
            <div class="card-content">
                <div style="height: 500px; width: 500px; margin-left: auto; margin-right: auto;">
                    <div id="ViviDiv">
                        <button type="button" id="ViviPDF" style="position:absolute; right:20px;">Descargar como PDF</button>
                        <canvas height="450" width="400" id="Vivi"></canvas>
                    </div>
                    <div id="CaleDiv" style="display: none;">
                        <button type="button" id="CalePDF" style="position:absolute; right:20px;">Descargar como PDF</button>
                        <canvas height="450" width="400" id="Cale"></canvas>
                    </div>
                    <div id="AguaDiv" style="display: none;">
                        <button type="button" id="AguaPDF" style="position:absolute; right:20px;">Descargar como PDF</button>
                        <canvas height="450" width="400" id="Agua"></canvas>
                    </div>
                    <div id="HelaDiv" style="display: none;">
                        <button type="button" id="HelaPDF" style="position:absolute; right:20px;">Descargar como PDF</button>
                        <canvas height="450" width="400" id="Hela"></canvas>
                    </div>
                    <div id="ElecDiv" style="display: none;">
                        <button type="button" id="ElecPDF" style="position:absolute; right:20px;">Descargar como PDF</button>
                        <canvas height="450" width="400" id="Elec"></canvas>
                    </div>
                    <div id="MascDiv" style="display: none;">
                        <button type="button" id="MascPDF" style="position:absolute; right:20px;">Descargar como PDF</button>
                        <canvas height="450" width="400" id="Masc"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-tabs" style="margin-top: 75px;">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                        <a id="ViviButton">Vivienda</a>
                    </li>
                    <li class="tab">
                        <a id="CaleButton">Calefaccion</a>
                    </li>
                    <li class="tab">
                        <a id="AguaButton">Agua</a>
                    </li>
                    <li class="tab">
                        <a id="HelaButton">Heladera</a>
                    </li>
                    <li class="tab">
                        <a id="ElecButton">Electricidad</a>
                    </li>
                    <li class="tab">
                        <a id="MascButton">Mascota</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <br>

    </section>

    <script>
        function chart(id, labels, data, colors, title) {
            var ctx = document.getElementById(id).getContext('2d');
            var chart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            backgroundColor: colors,
                            data: data
                        }
                    ]
                },
                options: {
                    segmentShowStroke: true,
                    segmentStrokeColor: "#fff",
                    segmentStrokeWidth: 2,
                    percentageInnerCutout: 50,
                    animationSteps: 100,
                    animationEasing: "easeOutBounce",
                    animateRotate: true,
                    animateScale: false,
                    responsive: true,
                    maintainAspectRatio: true,
                    showScale: true,
                    animateScale: true,
                    title: {
                        display: true,
                        text: title
                    }
                }
            });
        }
        chart('Vivi', labels['Vivi'], data['Vivi'], colors, titles['Vivi']);
        chart('Cale', labels['Cale'], data['Cale'], colors, titles['Cale']);
        chart('Agua', labels['Agua'], data['Agua'], colors, titles['Agua']);
        chart('Hela', labels['Hela'], data['Hela'], colors, titles['Hela']);
        chart('Elec', labels['Elec'], data['Elec'], colors, titles['Elec']);
        chart('Masc', labels['Masc'], data['Masc'], colors, titles['Masc']);
        $("#ViviButton").on("click", function() {
            $("#ViviDiv").show();
            $("#CaleDiv").hide();
            $("#AguaDiv").hide();
            $("#HelaDiv").hide();
            $("#ElecDiv").hide();
            $("#MascDiv").hide();
        });
        $("#CaleButton").on("click", function() {
            $("#ViviDiv").hide();
            $("#CaleDiv").show();
            $("#AguaDiv").hide();
            $("#HelaDiv").hide();
            $("#ElecDiv").hide();
            $("#MascDiv").hide();
        });
        $("#AguaButton").on("click", function() {
            $("#ViviDiv").hide();
            $("#CaleDiv").hide();
            $("#AguaDiv").show();
            $("#HelaDiv").hide();
            $("#ElecDiv").hide();
            $("#MascDiv").hide();
        });
        $("#HelaButton").on("click", function() {
            $("#ViviDiv").hide();
            $("#CaleDiv").hide();
            $("#AguaDiv").hide();
            $("#HelaDiv").show();
            $("#ElecDiv").hide();
            $("#MascDiv").hide();
        });
        $("#ElecButton").on("click", function() {
            $("#ViviDiv").hide();
            $("#CaleDiv").hide();
            $("#AguaDiv").hide();
            $("#HelaDiv").hide();
            $("#ElecDiv").show();
            $("#MascDiv").hide();
        });
        $("#MascButton").on("click", function() {
            $("#ViviDiv").hide();
            $("#CaleDiv").hide();
            $("#AguaDiv").hide();
            $("#HelaDiv").hide();
            $("#ElecDiv").hide();
            $("#MascDiv").show();
        });
        //donwload pdf from original canvas
        function downloadPDF(id) {
            var canvas = document.querySelector(id);
            //creates image
            var canvasImg = canvas.toDataURL("image/PNG");

            //creates PDF from img
            var doc = new jsPDF();
            doc.setFontSize(20);

            doc.addImage(canvasImg, 'PNG', 10, 10, 175, 196.7);
            doc.save('canvas.pdf');
        }
        $("#ViviPDF").click(function() {
            downloadPDF('#Vivi');
        });
        $("#CalePDF").click(function() {
            downloadPDF('#Cale');
        });
        $("#AguaPDF").click(function() {
            downloadPDF('#Agua');
        });
        $("#HelaPDF").click(function() {
            downloadPDF('#Hela');
        });
        $("#ElecPDF").click(function() {
            downloadPDF('#Elec');
        });
        $("#MascPDF").click(function() {
            downloadPDF('#Masc');
        });
    </script>
{% endblock %}
