{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <script>
            var datos = {{(data|json_encode|raw)}};
            var chartData = [];
            chartData['pc'] = [];
            chartData['peso'] = [];
            chartData['talla'] = [];
        </script>

        <button type="button" name="pcButton" id="pcButton">Perimetro Cefálico</button>
        <button type="button" name="tallaButton" id="tallaButton">Talla</button>
        <button type="button" name="pesoButton" id="pesoButton">Peso</button>

        <div style="height: 500px; width: 500px; margin-left: auto; margin-right: auto;">
            <div id="pcDiv">
                <canvas height="450" width="400" id="pc"></canvas>
                <button type="button" name="pcPDF">Descargar como PDF</button>
            </div>
            <div class="tallaDiv" style="display: none;">
                <canvas height="450" width="400" id="talla"></canvas>
                <button type="button" name="tallaPDF">Descargar como PDF</button>
            </div>
            <div class="pesoDiv" style="display: none;">
                <canvas height="450" width="400" id="peso"></canvas>
                <button type="button" name="pesoPDF">Descargar como PDF</button>
            </div>
        </div>

        <script src="node_modules\chart.js\dist\Chart.min.js"></script>
        <script src="public/js/Reports/{{ genero }}/PC.js"></script>
        <script src="public/js/Reports/{{ genero }}/Peso.js"></script>
        <script src="public/js/Reports/{{ genero }}/Talla.js"></script>
        <script src="public/js/Reports/Base.js"></script>
        <script>
            chartData['pc']['dataset'][5] = datos['pc'];
            chartData['peso']['dataset'][5] = datos['peso'];
            chartData['talla']['dataset'][5] = datos['talla'];

            chart('pc');
            chart('peso');
            chart('talla');
            $("#pcButton").click(function() {
                $("#pcDiv").show();
                $("#pesoDiv").hide();
                $("#tallaDiv").hide();
            });
            $("#pesoButton").click(function() {
                $("#pcDiv").hide();
                $("#pesoDiv").show();
                $("#tallaDiv").hide();
            });
            $("#tallaButton").click(function() {
                $("#pcDiv").hide();
                $("#pesoDiv").hide();
                $("#tallaDiv").show();
            });
        </script>
    </section>
{% endblock %}
