{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <script>
            var datos = {{(data|json_encode|raw)}};
            var chartData = [];
            chartData['pc'] = [];
            chartData['peso'] = [];
            chartData['talla'] = [];
        </script>

        <div style="width: 440px; margin-left: auto; margin-right: auto;">
            <br>
            <button type="button" class=" btn waves-effect waves-light icon-cyan" name="pcButton" id="pcButton">Perimetro Cefálico</button>
            <button type="button" class=" btn waves-effect waves-light icon-cyan" name="tallaButton" id="tallaButton">Talla</button>
            <button type="button" class=" btn waves-effect waves-light icon-cyan" name="pesoButton" id="pesoButton">Peso</button>
            <br>
            <br>
        </div>

        <div style="height: 500px; width: 500px; margin-left: auto; margin-right: auto;">
            <div id="pcDiv">
                <canvas height="450" width="400" id="pc"></canvas>
                <button type="button" id="pcPDF">Descargar como PDF</button>
            </div>
            <div id="tallaDiv" style="display: none;">
                <canvas height="450" width="400" id="talla"></canvas>
                <button type="button" id="tallaPDF">Descargar como PDF</button>
            </div>
            <div id="pesoDiv" style="display: none;">
                <canvas height="450" width="400" id="peso"></canvas>
                <button type="button" id="pesoPDF">Descargar como PDF</button>
            </div>
            <br>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
        <script src="node_modules\chart.js\dist\Chart.min.js"></script>
        <script src="public/js/Reports/{{ genero }}/PC.js"></script>
        <script src="public/js/Reports/{{ genero }}/Peso.js"></script>
        <script src="public/js/Reports/{{ genero }}/Talla.js"></script>
        <script src="public/js/Reports/Base.js"></script>
        <script>
            chartData['pc']['dataset'][5] = datos['pc'];
            chartData['peso']['dataset'][5] = datos['peso'];
            chartData['talla']['dataset'][5] = datos['talla'];

            chart('pc');
            chart('peso');
            chart('talla');
            $("#pcButton").click(function() {
                $("#pcDiv").show();
                $("#pesoDiv").hide();
                $("#tallaDiv").hide();
            });
            $("#pesoButton").click(function() {
                $("#pcDiv").hide();
                $("#pesoDiv").show();
                $("#tallaDiv").hide();
            });
            $("#tallaButton").click(function() {
                $("#pcDiv").hide();
                $("#pesoDiv").hide();
                $("#tallaDiv").show();
            });
            //donwload pdf from original canvas
            function downloadPDF(id) {
                var canvas = document.querySelector(id);
                //creates image
                var canvasImg = canvas.toDataURL("image/PNG");

                //creates PDF from img
                var doc = new jsPDF();
                doc.setFontSize(20);

                doc.addImage(canvasImg, 'PNG', 10, 10, 191.25, 170);
                doc.save('canvas.pdf');
            }
            $("#pcPDF").click(function() {
                downloadPDF('#pc');
            });
            $("#tallaPDF").click(function() {
                downloadPDF('#talla');
            });
            $("#pesoPDF").click(function() {
                downloadPDF('#peso');
            });
        </script>
    </section>
{% endblock %}
