{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <script>
            var datos = {{(data|json_encode|raw)}};
            var chartData = [];
            chartData['pc'] = [];
            chartData['peso'] = [];
            chartData['talla'] = [];
        </script>

        <button type="button" name="pcButton" id="pcButton">Perimetro Cefálico</button>
        <button type="button" name="tallaButton" id="tallaButton">Talla</button>
        <button type="button" name="pesoButton" id="pesoButton">Peso</button>

        <div id="pcDiv" style="height: 500px; width: 500px; margin-left: auto; margin-right: auto;">
            <canvas height="450" width="400" id="pc"></canvas>
            <canvas height="450" width="400" id="talla" style="display: none;"></canvas>
            <canvas height="450" width="400" id="peso" style="display: none;"></canvas>
        </div>

        <script src="node_modules\chart.js\dist\Chart.min.js"></script>
        <script src="public/js/Reports/{{ genero }}/PC.js"></script>
        <script src="public/js/Reports/{{ genero }}/Peso.js"></script>
        <script src="public/js/Reports/{{ genero }}/Talla.js"></script>
        <script src="public/js/Reports/Base.js"></script>
        <script>
            chartData['pc'][5] = datos['pc'];
            chartData['peso'][5] = datos['peso'];
            chartData['talla'][5] = datos['talla'];

            chart('pc');
            chart('peso');
            chart('talla');
            $("#pcButton").click(function() {
                $("#pc").show();
                $("#peso").hide();
                $("#talla").hide();
            });
            $("#pesoButton").click(function() {
                $("#pc").hide();
                $("#peso").show();
                $("#talla").hide();
            });
            $("#tallaButton").click(function() {
                $("#pc").hide();
                $("#peso").hide();
                $("#talla").show();
            });
        </script>
    </section>
{% endblock %}
