{% extends 'base.html.twig' %}

{% block body %}
<header>
    <div class="img-div-inicio">
        <div class="carousel carousel-slider">
 
            {% for i in 1..6 %}
            <a class="carousel-item">
                <img src="/public/imgs/c{{ loop.index }}.jpeg" alt="Imagen {{ loop.index }} del carousel">
            </a>
            {% endfor %}

        </div>
    </div>
</header>

<section>
    <div>
        <div class="containerInicio">
            <div class="row flex-container">
                {% for card in cards %}
                    <div class="col l4 m12 flex1">
                        <div class="card">
                            <h4 class="card-header">
                                <small> {{ card.title }} </small>
                            </h4>
                            <div class="card-body">
                                <p class="card-text">{{ card.descripcion }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-masinfo">Más info >></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}