{% extends 'base.html.twig' %}

{% block body %}
<header>
    <div class="img-div-inicio">
        <div class="carousel carousel-slider">
            <a class="carousel-item">
                <img src="/public/imgs/c1.jpeg">
            </a>
            <a class="carousel-item">
                <img src="/public/imgs/c2.jpeg">
            </a>
            <a class="carousel-item">
                <img src="/public/imgs/c3.jpeg">
            </a>
            <a class="carousel-item">
                <img src="/public/imgs/c4.jpg">
            </a>
            <a class="carousel-item">
                <img src="/public/imgs/c5.jpeg">
            </a>
            <a class="carousel-item">
                <img src="/public/imgs/c6.jpeg">
            </a>
        </div>
    </div>
</header>

<section>
    <div>
        <div class="containerInicio">
            <div class="row">
                {% for card in cards %}
                    <div class="col l4 m12">
                        <div class="card">
                            <h4 class="card-header">
                                <small> {{ card.title }} </small>
                            </h4>
                            <div class="card-body">
                                <p class="card-text">{{ card.descripcion }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-masinfo">Más info >></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}