{% extends 'base.html.twig' %}

{% block body %}
<header>
    <div class="img-div-inicio">
        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!">
                <img src="/public/imgs/c1.jpeg">
            </a>
            <a class="carousel-item" href="#two!">
                <img src="/public/imgs/c2.jpeg">
            </a>
            <a class="carousel-item" href="#two!">
                <img src="/public/imgs/c3.jpeg">
            </a>
            <a class="carousel-item" href="#two!">
                <img src="/public/imgs/c4.jpg">
            </a>
            <a class="carousel-item" href="#two!">
                <img src="/public/imgs/c5.jpeg">
            </a>
            <a class="carousel-item" href="#two!">
                <img src="/public/imgs/c6.jpeg">
            </a>
        </div>
    </div>
</header>

<section>
    <div>
        <div class="containerInicio">
            <div class="row equalHeightcontainer">
                <div class="col l4 m12 equalHeight">
                    <div class="card">
                        <h4 class="card-header">
                            <small> EL HOSPITAL </small>
                        </h4>
                        <div class="card-body">
                            <p class="card-text">{{ descripcion1 }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-masinfo">Más info >></a>
                        </div>
                    </div>
                </div>
                <div class="col l4 m12 equalHeight">
                    <div class="card">
                        <h4 class="card-header">
                            <small> GUARDIA </small>
                        </h4>
                        <div class="card-body">
                            <p class="card-text">{{ descripcion2 }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-masinfo">Más info >></a>
                        </div>
                    </div>
                </div>
                <div class="col l4 m12 equalHeight">
                    <div class="card">
                        <h4 class="card-header">
                            <small> ESPECIALIDADES </small>
                        </h4>
                        <div class="card-body">
                            <p class="card-text">{{ descripcion3 }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-masinfo">Más info >></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}