 <!-- Delete Patient Modal Structure -->
 <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4> <i class=" material-icons">sms_failed</i> ¡Atención! Operación irreversible.</h4>
      <p>Estas a punto de eliminar el paciente de forma permanente. Estas seguro que quieres proseguir?</p>
    </div>
    <div class="modal-footer">
      <a href="?controller=Pacientes&action=deletePaciente&idPaciente= " class="modal-action modal-close waves-effect waves-green btn-flat">Sí, estoy seguro</a>
      <a href="#!" onclick=" $('#modal1').modal('close');" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>