 <!-- Delete Patient Modal Structure -->
 <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content" id="deletePacienteContent">
      <h4> <i class=" material-icons">sms_failed</i> ¡Atención! Operación irreversible.</h4>
      <p>Estas a punto de eliminar el paciente <input type="text" class="input-field" style="display:inline; width: 20%;" id="nombrePaciente" disabled> de forma permanente. Estas seguro que quieres proseguir?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" onclick=" $('#deletePaciente').modal('close');" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a href="#"  id="enlace" class="modal-action modal-close waves-effect waves-green btn-flat">Si, deseo eliminar</a>
    </div>
  </div>