    <div class="container">
        <table class="responsive highlight ">
            <thead>
              <tr>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Fecha de Nacimiento</th>
                  <th>Genero</th>
                  <th>Tipo de documento</th>
                  <th>DNI</th>
                  <th>Domicilio</th>
                  <th>Telefono</th>
                  <th>Obra Social</th>
                </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody>
          </table>
    </div>