<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/public/imgs/logo3.png" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css" media="screen, projection" />
    <!--Let browser know website is optimized for mobile-->

    <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/footer.css"> 
    
    {% for src in stylesheets %}
    <link rel="stylesheet" href="{{ src }}"> 
    {% endfor %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/js/navbar.js"></script>

    {% for src in javascripts %}
    <script type="text/javascript" src="{{ src }}" async></script>
    {% endfor %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ titulo }}</title>
</head>

<body>
    {% include 'navbar.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'footer.html.twig' %}
</body>

</html>