<footer class="footer-div">
    <div class="left-align">
        <p><a href="https://www.proyecto2017.linti.unlp.edu.ar/"> Proyecto de Software 2017</a>- Hospital Dr. Ricardo Gutierrez.</p>
        <span class="right-align">
            <p>Contacto: {{ email }}</p>
        </span>
    </div>
</footer>