<footer class="footer-div">
    <div class"left-align inline">
        <p><a href="https://www.proyecto2017.linti.unlp.edu.ar/"> Proyecto de Software 2017</a>- Hospital Dr. Ricardo Gutierrez.</p>
    </div>
    <div class="right-align inline">
        <p>Contacto: {{ email }}</p>
    </div>
</footer>