<footer class="footer-div">
    <div>
        <p>©<a href="https://www.proyecto2017.linti.unlp.edu.ar/"> Proyecto de Software 2017</a>- Aplicación web para el hospital Dr. Ricardo Gutiérrez. Contacto: {{ email }}</p>
    </div>
</footer>