{% extends 'base.html.twig' %} 

{% block body %}
<section class="mantenimiento-container">
    <article class"mantenimiento-article">
        <img width="120px" src="../../public/imgs/bad.png">
        <h1 class="mantenimiento-h1">No se encontraron resultados!</h1>
        <div class="mantenimiento-div">
            <p class="mantenimiento-p">Lo sentimos, no hay elementos que coincidan con el criterio de búsquda.</p>
            <p class="mantenimiento-p">&mdash; {{ titulo }}</p>
        </div>
    </article>
</section>
{% endblock %}