{% extends 'base.html.twig' %} 

{% block body %}
<section class="mantenimiento-container">
    <article class"mantenimiento-article">
        <img width="120px" src="../../public/imgs/security.png" alt="Imagen acceso denegado.">
        <h1 class="mantenimiento-h1">Acceso denegado!</h1>
        <div class="mantenimiento-div">
            <p class="mantenimiento-p">Lo sentimos, no tiene permisos para acceder a esta funcionlidad.</p>
            <p class="mantenimiento-p">&mdash; {{ titulo }}</p>
        </div>
    </article>
</section>
{% endblock %}